#navBar{
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: steelblue;
  padding: 0px 2%;
  color: white;
  z-index: 100;
}

#navBrand{
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.navLinks{
  font-size: 13px;
  margin: 0px 4px;
  padding: 5px;
  position: relative;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.navLinks:hover{
  color: steelblue;
  background-color: aliceblue;
}

@media (min-width: 768px){
  #navBar{
    height: 35px;
    padding: 0px 3%;
  }
  
  #navBrand{
    font-size: 20px;
  }
  
  .navLinks{
    font-size: 15px;
    margin: 0px 6px;
    padding: 5px 8px;
    position: relative;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  
}